---
import Analytics from "@vercel/analytics/astro";
import Footer from "@/sections/Footer.astro";
import "../styles/global.css";

export interface Props {
	title?: string;
	description?: string;
	ogImage?: string;
	keywords?: string;
}

const {
	title = "Florencia Orquesta Band",
	description = "Florencia Orquesta Band - Disfruta de la mejor música en vivo y eventos bailables. Conoce más sobre nuestra banda y próximos conciertos.",
	ogImage = "https://florenciaorquestaband.com/hero.png",
	keywords,
} = Astro.props;

const canonicalUrl = Astro.url.href;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- <link rel="icon" type="image/png" href="/Congas.png" /> -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/icons/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/icons/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />

		<!-- SEO -->
		<meta name="robots" content="index, follow" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<!-- SEO - OPEN GRAPH -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={ogImage} />
		<meta property="og:url" content={canonicalUrl} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Florencia Orquesta Band" />
		<meta property="og:locale" content="es_CR" />

		<!-- SEO - TWITTER -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={ogImage} />
		<meta name="twitter:site" content="@FlorenciaOrquestaBand" />
		<meta name="twitter:creator" content="@FlorenciaOrquestaBand" />
		<meta name="twitter:domain" content="florenciaorquestaband.com" />
		<meta name="twitter:site" content="@FlorenciaOrquestaBand" />

		<!-- SEO - STRUCTURED DATA -->
		<script is:inline type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "MusicGroup",
				"name": "Florencia Orquesta Band",
				"image": "https://florenciaorquestaband.com/FOB_Logo.webp",
				"description": "Florencia Orquesta Band ofrece música en vivo y eventos inolvidables.",
				"url": "https://florenciaorquestaband.com",
				"sameAs": [
					"https://www.facebook.com/FlorenciaOrquestaBand/",
					"https://www.instagram.com/florenciaorquestaband/"
				]
			}
		</script>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
	<Analytics />
</html>
